*{
    margin: 0;
    padding: 0;
}

/*---------Main Navigation bar----------*/

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #2acb35;
    
}

.parent-navbar-left{
    padding: 8px 16px;
    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    
}

.fa-brands{
    color: white;
}

.fa-brands:hover{
    color: #212529;
}

.parent-navbar-right{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    

}

.menu-item{
    text-decoration: none;
}

 .parent-navbar-right .fa-solid{
    padding: 8px;
    color: #212529;
    border: solid white 1px;
    border-radius: 50%;
    background: white; 
    
}

.item-color{
    padding: 0px 10px;
    color: white;
    
}

.item-color:hover{
    color: #212529;
}

.menu-item-search-icon{
    border: solid white 1px;
    border-radius: 50%;
    background: white;
}

.difference{
    border-color: #2acb35;
    border-style: dashed;
    margin-top: 2px;
}

/*-----------Sticky Header----------*/

.Header-parent{
    width: 100%;  
    height: 60px;
    position: sticky;   
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.left-header{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo{
    height: 32px;
    width: auto;
}

.center-header{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.middle-item{
    font-size: 15px;
    font-weight: normal;
    color: #212529;
    text-decoration: none;
    padding: 8px 22px;
   
}

.middle-item:hover{
    color: #2acb35;
}

.Order-btn{
    margin-left: 70px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding: 14px 28px;
    background-color: #2acb35;
    border-radius: 5px;
    border: 1px solid transparent;
    border-color: #2acb35;
    
}

.Order-btn:hover{
    color:#2acb35;
    border: 1px solid;
    border-color: #2acb35;
    background-color: white;
    transition: .4s ease-in-out;
    
}

/*-------------Slider Code ------------------*/