*{
    margin: 0;
    padding: 0;
}

/*---------Main Navigation bar----------*/

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #2acb35;
    
}

.parent-navbar-left{
    padding: 8px 16px;
    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    
}

.fa-brands{
    color: white;
}

.fa-brands:hover{
    color: #212529;
}

.parent-navbar-right{
    padding: 8px 16px;
    margin: 5px 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    

}

.menu-item{
    text-decoration: none;
}

 .parent-navbar-right .fa-solid{
    padding: 8px;
    color: #212529;
    border: solid white 1px;
    border-radius: 50%;
    background: white; 
    
}

.item-color{
    padding: 0px 10px;
    color: white;
    
}

.item-color:hover{
    color: #212529;
}

.menu-item-search-icon{
    border: solid white 1px;
    border-radius: 50%;
    background: white;
}

.difference{
    border-color: #2acb35;
    border-style: dashed;
    margin-top: 2px;
}

